{% extends "base.html" %}
{% block title %}Add Donation{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', path='assets/css/plugins/slider-range.css') }}" />

{% endblock %}

{% block content %}
<main class="main page">
    
    <div class="container" style="padding: 10px;">
        <div class="row " >
            <div class="col-4 d-none d-md-block">
              <img src="https://images.unsplash.com/photo-1553787434-45e1d245bfbb?q=80&w=1420&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            
            <div class="col-8" style="text-align: center;">
                <form method="POST" action="/authentication/confirmation/">
                    {% if request.session["mfa_setup_key"] %}
                        <div> Here is your setup key with Google Auth: {{request.session["mfa_setup_key"]}}</div>
                    {% endif %}
                    <div class="form-group">
                        <label for="confirmation">Confirmation</label>
                        <input type="text" class="form-control" id="confirmation" placeholder="Enter code here . . . " name="code">
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
   
            </div>
        </div>
    </div>

</main>
{% endblock %}