{% extends "base.html" %}
{% block title %}FoodShareHub{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', path='assets/css/plugins/slider-range.css') }}" />
{% endblock %}
{% block content %}
<div class="modal fade custom-modal" id="quickViewModal" tabindex="-1" aria-labelledby="quickViewModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12 mb-md-0 mb-sm-5">
                        <div class="detail-gallery">
                            <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                            <!-- MAIN SLIDES -->
                            <div class="product-image-slider">
                                <figure class="border-radius-10">
                                    <img src="{{ url_for('static', path='assets/imgs/shop/product-16-2.jpg') }}" alt="product image" />
                                </figure>
                                <figure class="border-radius-10">
                                    <img src="{{ url_for('static', path='assets/imgs/shop/product-16-1.jpg') }}" alt="product image" />
                                </figure>
                                <figure class="border-radius-10">
                                    <img src="{{ url_for('static', path='assets/imgs/shop/product-16-3.jpg') }}" alt="product image" />
                                </figure>
                                <figure class="border-radius-10">
                                    <img src="{{ url_for('static', path='assets/imgs/shop/product-16-4.jpg') }}" alt="product image" />
                                </figure>
                                <figure class="border-radius-10">
                                    <img src="{{ url_for('static', path='assets/imgs/shop/product-16-5.jpg') }}" alt="product image" />
                                </figure>
                                <figure class="border-radius-10">
                                    <img src="{{ url_for('static', path='assets/imgs/shop/product-16-6.jpg') }}" alt="product image" />
                                </figure>
                                <figure class="border-radius-10">
                                    <img src="{{ url_for('static', path='assets/imgs/shop/product-16-7.jpg') }}" alt="product image" />
                                </figure>
                            </div>
                            <!-- THUMBNAILS -->
                            <div class="slider-nav-thumbnails">
                                {% for image_number in range(3, 10) %}
                                    <div><img src="{{ url_for('static', path='assets/imgs/shop/thumbnail-' + image_number|string + '.jpg') }}" alt="product image" /></div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- End Gallery -->
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        {% if request.session %}
                            <div class="detail-info pr-30 pl-30">
                                <span class="stock-status out-stock"> Sale Off </span>
                                <h3 class="title-detail"><a href="shop-product-right.html" class="text-heading">Seeds of Change Organic Quinoa, Brown</a></h3>
                                <div class="product-detail-rating">
                                    <div class="product-rate-cover text-end">
                                        <div class="product-rate d-inline-block">
                                            <div class="product-rating" style="width: 90%"></div>
                                        </div>
                                        <span class="font-small ml-5 text-muted"> (32 reviews)</span>
                                    </div>
                                </div>
                                <div class="clearfix product-price-cover">
                                    <div class="product-price primary-color float-left">
                                        <span class="current-price text-brand">$38</span>
                                        <span>
                                            <span class="save-price font-md color3 ml-15">26% Off</span>
                                            <span class="old-price font-md ml-15">$52</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="detail-extralink mb-30">
                                    <div class="detail-qty border radius">
                                        <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                        <span class="qty-val">1</span>
                                        <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                    </div>
                                    <div class="product-extra-link2">
                                        <button type="submit" class="button button-add-to-cart"><i class="fi-rs-shopping-cart"></i>Add to cart</button>
                                    </div>
                                </div>
                                <div class="font-xs">
                                    <ul>
                                        <li class="mb-5">Vendor: <span class="text-brand">Nest</span></li>
                                        <li class="mb-5">MFG:<span class="text-brand"> Jun 4.2022</span></li>
                                        <li class="mb-5">Location :<span class="text-brand" id="item_location">Ang Mo Kio Hub</span></li>
                                        {% if location %}
                                        <li class="mb-5">Distance :<span class="text-brand" id="item_distance"> {{location["distance"]}}km</span></li>
                                        <li class="mb-5">Travel Time by Bicycle :<span class="text-brand" id="item_travel_time"> {{location["duration"]}}</span></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        {% else %}
                            <div class="detail-info pr-30 pl-30">
                                <span class="stock-status out-stock"> Sale Off </span>
                                <h3 class="title-detail"><a href="shop-product-right.html" class="text-heading">Seeds of Change Organic Quinoa, Brown</a></h3>
                                <div class="product-detail-rating">
                                    <div class="product-rate-cover text-end">
                                        <div class="product-rate d-inline-block">
                                            <div class="product-rating" style="width: 90%"></div>
                                        </div>
                                        <span class="font-small ml-5 text-muted"> (32 reviews)</span>
                                    </div>
                                </div>
                                <div class="clearfix product-price-cover">
                                    <div class="product-price primary-color float-left">
                                        <span class="current-price text-brand">$38</span>
                                        <span>
                                            <span class="save-price font-md color3 ml-15">26% Off</span>
                                            <span class="old-price font-md ml-15">$52</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="detail-extralink mb-30">
                                    <div class="detail-qty border radius">
                                        <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                        <span class="qty-val">1</span>
                                        <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                    </div>
                                    <div class="product-extra-link2">
                                        <button type="submit" class="button button-add-to-cart"><i class="fi-rs-shopping-cart"></i>Add to cart</button>
                                    </div>
                                </div>
                                <div class="font-xs">
                                    <ul>
                                        <li class="mb-5">Vendor: <span class="text-brand">Nest</span></li>
                                        <li class="mb-5">MFG:<span class="text-brand"> Jun 4.2022</span></li>
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                        <!-- Detail Info -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main">
    <section class="home-slider position-relative mb-30">
        <div class="home-slide-cover">
            <div class="hero-slider-1 style-4 dot-style-1 dot-style-1-position-1">
                <div class="single-hero-slider rectangle single-animation-wrap" style="background-image: url({{'static/'+ 'assets/imgs/slider/slider-5.png'}});">
                    <div class="slider-content">
                        <h1 class="display-2 mb-40">
                            Waste Less, Share More<br />
                            Donate Excess, Feed the Hungry
                        </h1>
                        <p class="mb-65">Sign up now</p>
                    </div>
                </div>
                <div class="single-hero-slider rectangle single-animation-wrap" style="background-image: url({{'static/'+ 'assets/imgs/slider/slider-6.png'}});">
                    <div class="slider-content">
                        <h1 class="display-2 mb-40">
                            Feed the Need,<br />
                            Be the Seed of Good Deed.
                        </h1>
                        <p class="mb-65">Sign up now</p>
                    </div>
                </div>
            </div>
            <div class="slider-arrow hero-slider-1-arrow"></div>
        </div>
    </section>
    <!--End hero-->
    <div class="container mb-30">
        <div class="row">
            <div class="col-lg-4-5">
                <section class="product-tabs section-padding position-relative">
                    <div class="section-title style-2">
                        <h3>Nearby Products</h3>
                    </div>
                    <!--End nav-tabs-->
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                            <div class="row product-grid-4">
                                
                                <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                                    <div class="product-cart-wrap mb-30">
                                        <div class="product-img-action-wrap">
                                            <div class="product-img product-img-zoom">
                                                <a href="shop-product-right.html">
                                                    <img class="default-img" src="{{ url_for('static', path='assets/imgs/shop/product-1-1.jpg') }}" alt="" />
                                                    <img class="hover-img" src="{{ url_for('static', path='assets/imgs/shop/product-1-2.jpg') }}" alt="" />
                                                </a>
                                            </div>
                                            <div class="product-action-1">
                                                <a aria-label="Add To Wishlist" class="action-btn" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                                <a aria-label="Compare" class="action-btn" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
                                                <a aria-label="Quick view" class="action-btn" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a>
                                            </div>
                                            <div class="product-badges product-badges-position product-badges-mrg">
                                                <span class="hot">Hot</span>
                                            </div>
                                        </div>
                                        <div class="product-content-wrap">
                                            <div class="product-category">
                                                <a href="shop-grid-right.html">Snack</a>
                                            </div>
                                            <h2><a href="shop-product-right.html">Seeds of Change Organic Quinoe</a></h2>
                                            <div>
                                                <span class="font-small text-muted">By <a href="vendor-details-1.html">Food Share Hub</a></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                           
                                <!--end product card-->
                            </div>
                            <!--End product-grid-4-->
                        </div>
                        <!--En tab one-->
                        <div class="tab-pane fade" id="tab-two" role="tabpanel" aria-labelledby="tab-two">
                            
                        </div>
                        <!--En tab two-->
                        <div class="tab-pane fade" id="tab-three" role="tabpanel" aria-labelledby="tab-three">
                            
                        </div>
                        <!--En tab three-->
                        <div class="tab-pane fade" id="tab-four" role="tabpanel" aria-labelledby="tab-four">
                            
                        </div>
                        <!--En tab four-->
                        <div class="tab-pane fade" id="tab-five" role="tabpanel" aria-labelledby="tab-five">
                            
                        </div>
                        <!--En tab five-->
                        <div class="tab-pane fade" id="tab-six" role="tabpanel" aria-labelledby="tab-six">
                            
                        </div>
                        <!--En tab six-->
                        <div class="tab-pane fade" id="tab-seven" role="tabpanel" aria-labelledby="tab-seven">
                            
                        </div>
                        <!--En tab seven-->
                    </div>
                    <!--End tab-content-->
                </section>
                <!--Products Tabs-->
            </div>
            <div class="col-lg-1-5 primary-sidebar sticky-sidebar pt-30">
                <div class="sidebar-widget widget-category-2 mb-30">
                    <h5 class="section-title style-1 mb-30">Category</h5>
                    <ul>
                        <li>
                            <a href="#">
                                <img src="{{ url_for('static', path='assets/imgs/theme/icons/category-1.svg') }}" alt="" />Milks & Dairies
                            </a>
                            <span class="count">30</span>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{{ url_for('static', path='assets/imgs/theme/icons/category-7.svg') }}" alt="" />Fresh Fruits
                            </a>
                            <span class="count">35</span>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{{ url_for('static', path='assets/imgs/theme/icons/category-8.svg') }}" alt="" />Vegetables
                            </a>
                            <span class="count">42</span>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{{ url_for('static', path='assets/imgs/theme/icons/category-2.svg') }}" alt="" />Wine & Drinks
                            </a>
                            <span class="count">68</span>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{{ url_for('static', path='assets/imgs/theme/icons/category-9.svg') }}" alt="" />Noodles & Rice
                            </a>
                            <span class="count">87</span>
                        </li>
                    </ul>
                    
                </div>        
            </div>
        </div>
    </div>
    <section class="popular-categories section-padding">
        <div class="container">
            <div class="section-title">
                <div class="title">
                    <h3>Shop by Categories</h3>
                    <a class="show-all" href="shop-grid-right.html">
                        All Categories
                        <i class="fi-rs-angle-right"></i>
                    </a>
                </div>
                <div class="slider-arrow slider-arrow-2 flex-right carausel-8-columns-arrow" id="carausel-8-columns-arrows"></div>
            </div>
            <div class="carausel-8-columns-cover position-relative">
                <div class="carausel-8-columns" id="carausel-8-columns">
                    <div class="card-1">
                        <figure class="img-hover-scale overflow-hidden">
                            <a onclick="performSearchByCategory('Milks & Dairies')"><img src="{{ url_for('static', path='assets/imgs/theme/icons/category-1.svg') }}" alt="" /></a>
                        </figure>
                        <h6>
                            <a onclick="performSearchByCategory('Milks & Dairies')">Milks &<br /> Dairies</a>
                        </h6>
                    </div>
                    <div class="card-1">
                        <figure class="img-hover-scale overflow-hidden">
                            <a onclick="performSearchByCategory('Fresh Fruits')"><img src="{{ url_for('static', path='assets/imgs/theme/icons/category-7.svg') }}" alt="" /></a>
                        </figure>
                        <h6>
                            <a onclick="performSearchByCategory('Fresh Fruits')">Fresh & <br />
                                Fruits</a>
                        </h6>
                    </div>
                    <div class="card-1">
                        <figure class="img-hover-scale overflow-hidden">
                            <a onclick="performSearchByCategory('Vegetables')"><img src="{{ url_for('static', path='assets/imgs/theme/icons/category-8.svg') }}" alt="" /></a>
                        </figure>
                        <h6>
                            <a onclick="performSearchByCategory('Vegetables')">Vegetables</a>
                        </h6>
                    </div>
                    <div class="card-1">
                        <figure class="img-hover-scale overflow-hidden">
                            <a onclick="performSearchByCategory('Wine & Drinks')"><img src="{{ url_for('static', path='assets/imgs/theme/icons/category-2.svg') }}" alt="" /></a>
                        </figure>
                        <h6>
                            <a onclick="performSearchByCategory('Wine & Drinks')">Wine &<br />Drinks</a>
                        </h6>
                    </div>
                    <div class="card-1">
                        <figure class="img-hover-scale overflow-hidden">
                            <a onclick="performSearchByCategory('Baking Material')"><img src="{{ url_for('static', path='assets/imgs/theme/icons/category-1.svg') }}" alt="" /></a>
                        </figure>
                        <h6>
                            <a onclick="performSearchByCategory('Baking Material')">Baking <br />Material</a>
                        </h6>
                    </div>
                    <div class="card-1">
                        <figure class="img-hover-scale overflow-hidden">
                            <a onclick="performSearchByCategory('Snacks')"><img src="{{ url_for('static', path='assets/imgs/theme/icons/category-4.svg') }}" alt="" /></a>
                        </figure>
                        <h6>
                            <a onclick="performSearchByCategory('Snacks')">Snacks</a>
                        </h6>
                    </div>
                    <div class="card-1">
                        <figure class="img-hover-scale overflow-hidden">
                            <a onclick="performSearchByCategory('Noodles & Rice')"><img src="{{ url_for('static', path='assets/imgs/theme/icons/category-9.svg') }}" alt="" /></a>
                        </figure>
                        <h6>
                            <a onclick="performSearchByCategory('Noodles & Rice')">Noodles <br />& Rice</a>
                        </h6>
                    </div>
                    <div class="card-1">
                        <figure class="img-hover-scale overflow-hidden">
                            <a onclick="performSearchByCategory('Pet Foods')"><img src="{{ url_for('static', path='assets/imgs/theme/icons/category-5.svg') }}" alt="" /></a>
                        </figure>
                        <h6>                            
                            <a onclick="performSearchByCategory('Pet Foods')">Pet Foods</a>
                        </h6>
                    </div>
                    <div class="card-1">
                        <figure class="img-hover-scale overflow-hidden">
                            <a onclick="performSearchByCategory('Others')"><img src="{{ url_for('static', path='assets/imgs/theme/icons/icon-4.svg') }}" alt="" /></a>
                        </figure>
                        <h6><a onclick="performSearchByCategory('Others')">Others</a></h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End category slider-->
</div>
{% endblock %}
{% block scripts %}
    {{ super() }}
{% endblock %}
