{% extends "base.html" %}
{% block title %}FoodShareHub{% endblock %}
{% block head %}
<!-- Include DOMPurify from CDN -->
{% endblock %}
{% block content %}
<main class="main">
    <div class="page-header mt-30 mb-50">
    </div>
    <div class="container mb-30">
        <div class="message-area">
            <div class="row">
                <div class="col-12">
                    <div class="chat-area" id="scrollHere">
                        <div class="chatlist">
                            <div class="modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="chat-header">
                                        <div class="msg-search">
                                            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Search for user" aria-label="search">
                                        </div>
                                    </div>
                                    <div class="modal-body">
                                        <div id="chatList" class="chat-list">
                                            <!-- Chat List Here-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="chatbox">
                            <div class="modal-content">
                                <input type="hidden" id="conversationId">
                                <div class="msg-head">
                                    <div class="row">
                                        <div class="col-8">
                                            <div class="d-flex align-items-center">
                                                <div class="flex-shrink-0">
                                                    <img class="img-fluid" src="{{ receiver.ProfileImage }}" alt="user img" style="width: 40px; height: 40px;">
                                                    <span id="receiverOnlineHeader" class="active"></span>
                                                </div>
                                                <div class="flex-grow-1 ms-3">
                                                    <h3 id="receiverUsername">{{ receiver.Username }}</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            
                                        </div>
                                    </div>
                                </div>
                                <div id="mainMsgDiv" class="modal-body" style="position: relative; overflow-y: scroll; overflow-x: hidden;">
                                    <div class="msg-body">
                                        <!-- Message Area Here -->
                                        <ul id="chatArea">
                                            <!-- Message List Here -->
                                        </ul>
                                    </div>
                                </div>
                                <div class="row mb-3"> 
                                    <div class="col-12">
                                        <div class="input-group">
                                            <span class="input-group-text">
                                                <i class="fas fa-plus"></i> 
                                            </span>
                                            <textarea class="form-control" id="messageText" placeholder="Type a message…" spellcheck="true" style="height: 81px;" autofocus></textarea>
                                            <span class="input-group-text">
                                                <i class="fas fa-paper-plane"></i> <!-- FontAwesome paper plane (send) icon -->
                                            </span>
                                        </div>
                                    </div>
                                </div>                     
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</main>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>         
        let ws = null;
        inputMsg.addEventListener("keypress", (event) => {
            // Check if the key pressed is the Enter key (code "Enter")
            if ((event.code === "Enter" || event.code == "NumpadEnter") && !event.shiftKey) {
                // Prevent the default action (newline character insertion)
                event.preventDefault();
                sendMessage(ws, event);
                resetTextareaHeight(inputMsg);
            }
        });
        
        const messageIds = new Set();
        let isProcessingMessage = false; // a mutex to prevent race conditions
        let fetchingMutex = false; // a mutex to prevent race conditions when fetching old messages
        let retrieveInitialMessages = true;

        let scrollPos = mainMsgDiv.scrollTop;
        let scrollHeight = mainMsgDiv.scrollHeight;
        function startWebSocket() {
            {% with ws_url = url_for("chat_ws", external=True, receiver_name=receiver.Username) | replace("https://", "ws://", 1) %}
                ws = new WebSocket("{{ ws_url }}");
            {% endwith %}
    
            ws.onopen = () => {
                console.log("%c Connection established.", "color: white; background: green;");
                ws.send(JSON.stringify({
                    "fetch_initial_messages": retrieveInitialMessages,
                }));
                retrieveInitialMessages = false;
            };
            
            ws.onclose = (event) => {
                fetchingMutex = false;
                console.log("%c Connection closed, trying to reconnect in 3 seconds...", "color: white; background: red;");
                if (event.reason) {
                    console.log(`%c Reason(s): ${event.reason}`, "color: white; background: red;");
                    if (event.reason == "Not authenticated.") {
                        window.location.href = "{{ url_for('login') }}";
                    }
                }
    
                let count = 3;
                console.log(`%c Reconnecting in ${count}...`, "color: white; background: red;");
                const countdown = setInterval(() => {
                    count--;
                    console.log(`%c Reconnecting in ${count}...`, "color: white; background: red;");
                    if (count === 0) {
                        clearInterval(countdown);
                        startWebSocket();
                    }
                }, 1000);
            };

            ws.onmessage = async (event) => {
                while (isProcessingMessage) {
                    await new Promise((resolve) => setTimeout(resolve, 100));
                }
                isProcessingMessage = true;
                
                const response = JSON.parse(event.data);
                console.log(response);
                
                try {    
                    if (response.chats) {
                        // To display the chat list
                        console.log("Displaying chat list...");
                        processChats(response.chats, "{{ receiver.Username }}");
                        
                        // Update the current Conversation Id
                        var conversationId = document.getElementById("conversationId");
                        console.log("Current Conversation Id: " + response.chats[0].conversation_id);
                        console.log("Current Receiver: " + response.chats[0].conversation_id);
                        const currentChat = response.chats.find(chat => chat.username === "{{ receiver.Username }}");
                        
                        if (currentChat) {
                            conversationId.value = currentChat.conversation_id;
                            console.log("Conversation Id: " + conversationId.value);
                        }
                        return;
                    }
                    
                    if (response.error) {
                        const errMsg = response.error;
                        console.error("Error: " + errMsg);
                        formatTextareaInput(errMsg);
                        return;
                    };
                    
                    if (response.new_chat_session) {
                        fetchingMutex = false;
                        console.log("New chat session started.");
                        return; // no more messages to fetch
                    }

                    const messageId = response.Id; // This is null due to the message is not stored into database yet, anyway it cannot be null becuase will be use for the delete button
                    // if the message is already in the chat window, don't add it again
                    // this is to prevent duplicate messages caused by race conditions
                    // when the user scrolls to the top of the chat window to retrieve more messages
                    hasMsgElement = document.getElementById(messageId);
                    if (hasMsgElement) {
                        return;
                    }
                    
                    const responseTimestamp = response.SendTime;
                    console.log("Response Timestamp: " + responseTimestamp);
                    const sender = response.Sender;
                    const receiver = response.Receiver;
                    const messageType = response.Type;
                    const isSender = (sender == "{{ sender.Username }}");
                    const deleteFormBtn = `delete#${messageId}`;

                    // const msgDropdownId = `msgDropdown#${messageId}`;
                    // const imageViewId = `imageView#${messageId}`;
                    let msgBodyContent = "";
                    if (response.Content) {
                        msgBodyContent = response.Content;
                    }
                    
                    let msgBodyHtml = "";
                    
                    if (!isSender) {
                        msgBodyHtml = `
                            <li class="sender" id="${messageId}">
                                <!-- msg content -->
                                <p>${msgBodyContent}</p>
                                <span class="time" data-chat-timestamp="${responseTimestamp}">
                                    ${formatDateTime(responseTimestamp)}
                                </span>
                            </li>
                        `;
                    } else {
                        msgBodyHtml = `
                            <li class="receiver" id="${messageId}">
                                <!-- msg content -->
                                <p>${msgBodyContent}</p>
                                <span class="time" data-chat-timestamp="${responseTimestamp}">
                                    ${formatDateTime(responseTimestamp)}
                                </span>
                            </li>
                        `;
                    }
                    const newDiv = document.createElement("div");
                    newDiv.innerHTML = msgBodyHtml;
                    messageArea.appendChild(newDiv)
                    messageIds.add(messageId);
                    mainMsgDiv.scrollTop = mainMsgDiv.scrollHeight;
                }
                finally {
                    isProcessingMessage = false;
                }
            };
        };
        startWebSocket();
    </script>
{% endblock %}
