{% extends "base.html" %}
{% block title %}FoodShareHub{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', path='assets/css/plugins/slider-range.css') }}" />
{% endblock %}
{% block content %}
<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                <span></span> <a>{{ donation.FoodItem.Category.Name }}</a> <span></span> {{ donation.FoodItem.Name }}
            </div>
        </div>
    </div>
    <div class="container mb-30">
        <div class="row">
            <div class="col-xl-11 col-lg-12 m-auto">
                <div class="row">
                    <div class="col-xl-9">
                        <div class="product-detail accordion-detail">
                            <div class="row mb-50 mt-30">
                                <div class="col-md-6 col-sm-12 col-xs-12 mb-md-0 mb-sm-5">
                                    <div class="detail-gallery">
                                        <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                        <!-- MAIN SLIDES -->
                                        <div class="product-image-slider">
                                            <figure class="border-radius-10">
                                                <img src="{{ donation.FoodItem.Attachment.PublicAccessURL }}" alt="product image" />
                                            </figure>
                                            
                                        </div>
                                        <!-- THUMBNAILS -->
                                        <!-- <div class="slider-nav-thumbnails">
                                            <div><img src="assets/imgs/shop/thumbnail-3.jpg" alt="product image" /></div>
                                        </div> -->
                                    </div>
                                    <!-- End Gallery -->
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="detail-info pr-30 pl-30">
                                        <span class="stock-status in-stock"> Available </span>
                                        <h2 class="title-detail">{{ donation.FoodItem.Name }}</h2>
                                        <div class="short-desc mb-30">
                                            <p class="font-lg">{{ donation.FoodItem.Description }}</p>
                                        </div>
                                        <div class="detail-extralink mb-30">
                                            <div class="product-extra-link2">
                                                <form action="{{ url_for('chat_1_to_1', receiver_id=donation.UserId, receiver_name=donation.Username,) if request.session.get(SESSION_COOKIE) != None else url_for('login') }}">
                                                    <button id="chatButton"type="submit" class="button button-add-to-cart">
                                                        <i class="fa-regular fa-comment"></i>
                                                        Chat
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="font-xs">
                                            <ul>
                                                <li class="mb-5">Donor: <span class="text-brand">{{ donation.Username }}</span></li>
                                                <li class="mb-5">Expiry Date: <span class="text-brand">{{ donation.FoodItem.ExpiryDate | format_date }}</span></li>
                                            </ul>
                                        </div>
                                        <!-- TODO 
                                            1. Display the expiry days and how many days left
                                            2. Display a map and calculate the distance if can
                                            <div class="font-xs">
                                                <ul class="mr-50 float-start">
                                                    <li class="mb-5">Type: <span class="text-brand">Organic</span></li>
                                                    <li class="mb-5">MFG:<span class="text-brand"> Jun 4.2022</span></li>
                                                    <li>LIFE: <span class="text-brand">70 days</span></li>
                                                </ul>
                                                <ul class="float-start">
                                                    <li class="mb-5">SKU: <a href="#">FWM15VKT</a></li>
                                                    <li class="mb-5">Tags: <a href="#" rel="tag">Snack</a>, <a href="#" rel="tag">Organic</a>, <a href="#" rel="tag">Brown</a></li>
                                                    <li>Stock:<span class="in-stock text-brand ml-5">8 Items In Stock</span></li>
                                                </ul>
                                            </div>
                                        -->
                                    </div>
                                    <!-- Detail Info -->
                                </div>
                            </div>
                            <div class="row mt-60">
                                <div class="col-12">
                                    <h2 class="section-title style-1 mb-30">Related products</h2>
                                </div>
                                <div class="col-12">
                                    <div class="row related-products">
                                        <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                            <div class="product-cart-wrap hover-up">
                                                <div class="product-img-action-wrap">
                                                    <div class="product-img product-img-zoom">
                                                        <a href="shop-product-right.html" tabindex="0">
                                                            <img class="default-img" src="assets/imgs/shop/product-2-1.jpg" alt="" />
                                                            <img class="hover-img" src="assets/imgs/shop/product-2-2.jpg" alt="" />
                                                        </a>
                                                    </div>
                                                    <div class="product-action-1">
                                                        <a aria-label="Quick view" class="action-btn small hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-search"></i></a>
                                                        <a aria-label="Add To Wishlist" class="action-btn small hover-up" href="#" tabindex="0"><i class="fi-rs-heart"></i></a>
                                                        <a aria-label="Compare" class="action-btn small hover-up" href="#" tabindex="0"><i class="fi-rs-shuffle"></i></a>
                                                    </div>
                                                    <div class="product-badges product-badges-position product-badges-mrg">
                                                        <span class="hot">Hot</span>
                                                    </div>
                                                </div>
                                                <div class="product-content-wrap">
                                                    <h2><a href="shop-product-right.html" tabindex="0">Ulstra Bass Headphone</a></h2>
                                                    <div class="rating-result" title="90%">
                                                        <span> </span>
                                                    </div>
                                                    <div class="product-price">
                                                        <span>$238.85 </span>
                                                        <span class="old-price">$245.8</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}
