{% extends "base.html" %}
{% block title %}FoodShareHub{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', path='assets/css/plugins/slider-range.css') }}" />
{% endblock %}

{% block content %}
<main class="main">
    <div class="page-header mt-30 mb-50">
        <div class="container">
            <div class="archive-header">
                <div class="row align-items-center">
                    <div class="col-xl-5">
                        <h1 class="mb-15">Edit Donation Food Item</h1>
                        <div class="breadcrumb">
                            <a href="/" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                            <span></span> Food Sharing <span></span> Edit Donation Food Item
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mb-30">
    <form id="process_edit_listing_form" enctype="multipart/form-data">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Image</h4>
                    </div>
                    <div class="card-body">
                        <div class="input-upload">
                            <img class="preview-image" id="preview" src="{{ donation.FoodItem.Attachment.PublicAccessURL }}" alt="Preview Image"/>
                            <p style="margin-bottom: 15px; display: none;">Uploaded: {{ donation.FoodItem.Attachment.FileName.split('_')[-1] }}</p>
                            <input class="form-control" type="file" id="image" name="image" accept="image/jpeg, image/png" onchange="showImgPreview(this); updateBase64Value();" />
                            <span class="text-muted">Accepted Format: <strong>JPEG</strong> & <strong>PNG</strong></span>
                            <span for="image" class="text-danger"></span>
                            <input id="defaultBase64Value"  value="{{ donation.FoodItem.FileName }}" hidden>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Food Item Details</h4>
                    </div>
                    <div class="card-body">
                        <div class="mb-4">
                            <label for="name" class="form-label">Food Item title</label>
                            <input type="text" placeholder="Type here" class="form-control" id="name" name="name" value="{{ donation.FoodItem.Name }}"/>
                            <span for="name" class="text-danger"></span>
                        </div>
                        <div class="mb-4">
                            <label class="form-label" for="description">Description</label>
                            <textarea placeholder="Type here" class="form-control" rows="12" style="height: 170px;" id="description" name="description">{{ donation.FoodItem.Description }}</textarea>
                            <span for="description" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="mb-4">
                                <label class="form-label" for="category">Categories</label>
                                <select class="form-select" id="category" name="category">
                                    {% for category in categories %}
                                        <option value="{{ category.Id }}" {% if category.Id == donation.FoodItem.CategoryID %}selected{% endif %}>{{ category.Name }}</option>
                                    {% endfor %}
                                </select>
                                <span for="category" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-4">
                                <label class="form-label" for="expiry_date">Expiry Date:</label>
                                <div class="row gx-2">
                                    <span class="text-muted">Please ensure your food has at least a 7-day buffer before expiry.</span>
                                    <input type="date" id="expiry_date" class="form-control" name="expiry_date" value="{{ donation.FoodItem.ExpiryDate.strftime('%Y-%m-%d') }}"/>
                                </div>
                                <span for="expiry_date" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-4">
                                <label class="form-label" for="pickup_location">Pick Up Location</label>
                                <input placeholder="Please enter your pick-up location" type="text" class="form-control" id="pickup_location" name="pickup_location" value="{{ donation.MeetUpLocation }}"/>
                                <span for="pickup_location" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group" style="text-align: right;">
                    <a href="{{ url_for('show_my_listings_page') }}" class="btn btn-md rounded font-sm hover-up btn-secondary">Cancel</a>
                    <button type="submit" class="btn btn-md rounded font-sm hover-up" value="{{ donation.Id }}" onclick="submitForm(event, this.value)">Submit</button>
                </div>
            </div>
        </div>
    </form>
    </div>
</main>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
    var _base64;

    function submitForm(event, donation_id) {
        event.preventDefault();

        var isValid = validateForm();
        if (isValid) {
            // Start: Retrieve form data
            const formData = {
                MeetUpLocation: document.getElementById("pickup_location").value,
                    FoodItem: {
                        Name: document.getElementById("name").value,
                        CategoryID: document.getElementById("category").value,
                        Description: document.getElementById("description").value,
                        ExpiryDate: document.getElementById("expiry_date").value,
                    }
            };

            const fileInput = document.getElementById("image");
            const file = fileInput.files[0];
            var Image;
            if (file) {
                // User has uploaded a file
                Image = {
                    FileName: fileInput.files[0].name,
                    ContentType: fileInput.files[0].type,
                    Size: fileInput.files[0].size,
                    Base64: _base64,
                    Uploaded: true
                }
                
            } else {
                // No file uploaded
                Image = {
                    FileName: "",
                    ContentType: "",
                    Size: 0,
                    Base64: "",
                    Uploaded: false
                }
            }
            formData.FoodItem.Image = Image
            // End: Retrieve form data

            // Start: Display loader
            const loadingDiv = document.getElementById('loadingDiv');
            loadingDiv.style.display = '';
            // End: Display loader
            
            // Start: Send form data using Fetch API `/api/foodshare/editMyListing/${donation_id}`
            fetch(`/api/foodshare/editMyListing/${donation_id}`, {
                method: "POST",
                body: JSON.stringify(formData),
                headers: {
                    "Content-Type": "application/json",
                },
            })
            .then(response => response.json())
            .then(data => {
                // Hide loader
                loadingDiv.style.display = 'none';

                // Extract the redirect URL from the JSON response
                const redirectUrl = data.redirect_url;

                // Extract the message from the JSON response
                const message = data.message;
                setNotificationMessage(message.category, message.text);

                // Redirect to the extracted URL
                window.location.href = redirectUrl;
            })
            .catch(error => {
                console.error("Error:", error);
            });
            // End: Send form data using Fetch API
        }
    }

    // Function to convert file to base64
    function getBase64(file) {
        return new Promise((resolve, reject) => {
            const reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = () => resolve(reader.result.split(",")[1]);
            reader.onerror = error => reject(error);
        });
    }

    function updateBase64Value(){
        const fileInput = document.getElementById("image");
        const file = fileInput.files[0];
        getBase64(file)
            .then(base64Value => {
                _base64 = base64Value;
                detectFoodItemImage();
            })
            .catch(error => {
                console.error("Error converting file to base64:", error);
            });
    }
    function detectFoodItemImage(){
        const loadingDiv = document.getElementById('loadingDiv');
        loadingDiv.style.display = '';
        
        const image_data = {
            base64_data: _base64
        }

        // Start: Send image data using Fetch API
        fetch("/api/foodshare/detectobject", {
            method: "POST",
            body: JSON.stringify(image_data),
            headers: {
                "Content-Type": "application/json",
            },
        })
        .then(response => response.json())
        .then(data => {
            // Hide loader
            loadingDiv.style.display = 'none';
            // If inappropriate imaged uploaded
            if(data.message){
                // Display Sweet Alert
                Swal.fire({
                    title: 'warning!',
                    text: data.message,
                    icon: 'warning',
                    confirmButtonText: 'Okay'
                });
                // Reset image input and image preview
                resetImageInput();
            }else{
                // Fill in Food Item Name and Select Food Item Category
                const nameField = document.getElementById('name');
                const categoryDropdown = document.getElementById('category');

                // Check if labels array is not empty
                if (data.labels && data.labels.length > 0) {
                    // Extract all label names from the data
                    const labelNames = data.labels.map(label => label.Name);

                    // Fill in Food Item Name with the first label
                    const firstLabel = labelNames[0];
                    nameField.value = firstLabel;

                    // Select options in the category dropdown that match the label names
                    let foundOption = false;
                    labelNames.forEach(labelName => {
                        const optionToSelect = Array.from(categoryDropdown.options).find(option => option.text.toLowerCase().includes(labelName.toLowerCase()));

                        if (optionToSelect) {
                            optionToSelect.selected = true;
                            foundOption = true;
                        }
                    });
                    // If none of the options were found, select the 'others' option
                    if (!foundOption) {
                        const othersOption = Array.from(categoryDropdown.options).find(option => option.text.toLowerCase() === 'others');
                        if (othersOption) {
                            othersOption.selected = true;
                        } else {
                            // Handle the case where both the desired option and 'others' option are not found
                            console.log(`Category options not found, and 'others' option not available.`);
                        }
                    }
                } else {
                    console.error('No labels detected in the image.');
                }
            }
        })
        .catch(error => {
            console.error("Error:", error);
        });
        // End: Send image data using Fetch API
    } 
    </script>

    <script>
        // Start: Function to show uploaded image preview
        function showImgPreview(input) {
            // Get the selected file
            var file = input.files[0];
            // Check if a file is selected
            if (file) {
                // Create a FileReader object
                var reader = new FileReader();

                // Set up the onload event for the FileReader
                reader.onload = function(e) {
                    // Perform actions to display the preview, for example, updating an <img> element
                    $('#preview').attr('src', e.target.result);
                };

                // Read the file content
                reader.readAsDataURL(file);
            }
        }
        // End: Function to show uploaded image preview
        
        // Start: Sets the minimum value allowed of the datepicker to current date
        $(document).ready(function() {
            $("#expiry_date").prop("min", new Date().toISOString().split("T")[0]);
        });
        // End: Sets the minimum value allowed of the datepicker to current date

        function validateForm() {
            var isValid = true;

            // Image validation
            // var imageInput = $("input[name='image']");

            // if (imageInput.val() === "") {
            //     isValid = false;
            //     showError(imageInput, "Please select an image");
            // }

            // Food Item title validation
            var nameInput = $("#name");
            if (nameInput.val() === "") {
                isValid = false;
                showError(nameInput, "Please enter a Food Item title");
            }

            // Description validation
            var descriptionInput = $("#description");
            if (descriptionInput.val() === "") {
                isValid = false;
                showError(descriptionInput, "Please enter a description");
            }

            // Categories validation
            var categoryInput = $("#category");
            if (categoryInput.val() === null) {
                isValid = false;
                showError(categoryInput, "Please select a category");
            }

            // Expiry Date validation
            var expiryDateInput = $("#expiry_date");
            if (expiryDateInput.val() === "") {
                isValid = false;
                showError(expiryDateInput, "Please enter an expiry date");
            }

            // Pick Up Location validation
            var postalCodeInput = $("#pickup_location");
            if (postalCodeInput.val() === "") {
                isValid = false;
                showError(postalCodeInput, "Please enter a pick-up location");
            }

            return isValid;
        }

        // Add blur event listener to each input field
        $("input, textarea, select").blur(function() {
            hideError($(this));
        });

        // Function to show error message and highlight input
        function showError(input, message) {
            var errorSpan = input.siblings(".text-danger");
            errorSpan.text(message);
            input.addClass("is-invalid");
        }

        // Function to hide error message and remove highlighting
        function hideError(input) {
            var errorSpan = input.siblings(".text-danger");
            errorSpan.text("");
            input.removeClass("is-invalid");
        }

        function showAlertModal(label, message) {
            const alertModalLabel = document.getElementById('alertModalLabel');
            const alertModalBody = document.getElementById('alertModalBody');

            alertModalLabel.textContent = label;
            alertModalBody.textContent = message;
            
            // Show the modal
            const alertModal = new bootstrap.Modal(document.getElementById('alertModal'));
            alertModal.show();
        }

        function resetImageInput() {
            // Reset the file input
            var imageInput = document.getElementById('image');
            imageInput.value = null;

            // Reset the preview image
            var previewImage = document.getElementById('preview');
            previewImage.src = "{{ donation.FoodItem.Attachment.PublicAccessURL }}";
        }
    </script>
{% endblock %}
